/.project
/.idea
**/*.idea
*.iml
*.log
atlassian-ide-plugin.xml
# generated in script
runSnapshot-pom.xml

/.DS_Store
**/.DS_Store

target
node_modules/
bower_components/

# translate
*.mo

# Eclipse specifics
.classpath
.project
.settings
.factorypath
test/mongo/
frontend/edubase-reference-cfa-site/node

# Load test
sem
